# **CS418 LAB 2**

## DESCRIPTIVE STATISTICS

## **1. Loading the data into dataFrame from the CSV File**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv (r'/Users/praveenrajveluswami/Documents/CS418 - IDS/lab2/heroes_information.csv')

## **2. Data type description of each column**

* **ID:**  Discrete
* **name:**  Nominal
* **Gender:**  Nominal
* **Eye color:**  Nominal
* **Race:**  Nominal
* **Hair color:**  Nominal
* **Height:**  Continuous
* **Publisher:**  Nominal
* **Skin color:**  Nominal
* **Alignment:**  Ordinal
* **Weight:**  Continuous

## **3. Compute the following measures for each column : Central tendencies and Dispersion**

* For several columns here, especially the nominal and ordinal data types: name, Gender, eye color, Race, Hair color, Publisher, Skin color and Alignment, central tendencies and dispersion except mode cannot be calculated since their values are not numerical.
* Proposed solution: Replace their values with integers i.e. 0,1,2,3... We replace blank/invalid values with 0.
* We follow this approach for columns other than 'name' (name is neither qualitative not quantitative) and compute these values. Although we would get a mean,median,etc. values for 'Gender',etc., this will not logically make sense.

### Column name: **ID**

**a.i. Mean :**

Although mean can be computer for this column as the values are integers, it is not going to be helpful in gaining any insights about the data since these are just indexes of rows in our data.

In [3]:
print(df["ID"].mean())

366.5

**a.ii. Median :**

Since the values are just indexes of rows, the median is simply the total number of records divided by 2. It gives us the row at the middle of our dataset although it doesn't serve much purpose.

In [4]:
print(df["ID"].median())

366.5

**a.iii. Mode :**

The values in this column are never repeated. This means frequency of each value is 1.

In [5]:
print(df["ID"].mode())

0        0
1        1
2        2
3        3
4        4
      ...
729    729
730    730
731    731
732    732
733    733
Length: 734, dtype: int64

**b.i. Standard Deviation :**

In [6]:
print(df["ID"].std())

212.03183723205342

**b.ii. Variance :**

In [7]:
print(df.var()['ID'])

44957.5

**b.iii. IQR :**

In [8]:
import numpy as np
q75, q25 = np.percentile(df['ID'], [75 ,25])
iqr = q75 - q25
print(iqr)

366.5

**b.iv. Skew :**

In [9]:
print(df['ID'].skew())

0.0

### Column name: **Name**

**a.i. Mean :**

Since this column has nominal data, it is not possible to compute mean. The values can also not be encoded into numercial form.

**a.ii. Median :**

Since this column has nominal data, it is not possible to compute median. The values can also not be encoded into numercial form.

**a.iii. Mode :**

Although the values are nominal, frequency for each value can be calculated through which mode can be computed. In this case, this might give insights into duplicate records.

In [10]:
print(df["name"].mode())

0       Goliath
1    Spider-Man
dtype: object

**b.i. Standard Deviation :**

Nominal data. Standard Deviation cannot be computed.

**b.ii. Variance :**

Nominal data. Variance cannot be computed.

**b.iii. IQR :**

Nominal data. IQR cannot be computed.

**b.iv. Skew :**

Nominal data. Skew cannot be computed.

### Column name: **Gender**

Gender can be encoded into numerical values. For example, male:1 ; female: 2

In [11]:
df = df.replace('Male', 1)

In [12]:
df = df.replace('Female', 2)

In [13]:
df['Gender'] = df['Gender'].replace('-',0)

In [14]:
df['Gender'] = df['Gender'].astype('int')

**a.i. Mean :**

In [15]:
print(df['Gender'].mean())

1.2329700272479565

**a.ii. Median :**

In [16]:
print(df['Gender'].median())

1.0

**a.iii. Mode :**

In [17]:
print(df["Gender"].mode())

0    1
dtype: int64

i.e. Mode is 'Male'

**b.i. Standard Deviation :**

In [18]:
print(df['Gender'].std())

0.5080016292373221

**b.ii. Variance :**

In [19]:
print(df['Gender'].var())

0.2580656553077736

**b.iii. IQR :**

In [20]:
q75, q25 = np.percentile(df['Gender'], [75 ,25])
iqr = q75 - q25
print(iqr)

1.0

**b.iv. Skew :**

In [21]:
print(df['Gender'].skew())

0.307949299993484

### Column name: **Eye color**

Eye color, being categorical data, can be encoded into numerical values. Below are the unique values in the eye color column. These can be encoded as 1,2,3...

In [22]:
df['Eye color'].unique()

array(['yellow', 'blue', 'green', 'brown', '-', 'red', 'violet', 'white',
       'purple', 'black', 'grey', 'silver', 'yellow / red',
       'yellow (without irises)', 'gold', 'blue / white', 'hazel',
       'green / blue', 'white / red', 'indigo', 'amber', 'yellow / blue',
       'bown'], dtype=object)

In [23]:
df['Eye color'] = df['Eye color'].replace(['yellow', 'blue', 'green', 'brown', '-', 'red', 'violet', 'white',
       'purple', 'black', 'grey', 'silver', 'yellow / red',
       'yellow (without irises)', 'gold', 'blue / white', 'hazel',
       'green / blue', 'white / red', 'indigo', 'amber', 'yellow / blue',
       'bown'],[1,2,3,4,0,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22])

In [24]:
df['Eye color'] = df['Eye color'].astype('int')

**a.i. Mean :**

In [25]:
print(df['Eye color'].mean())

2.9850136239782015

**a.ii. Median :**

In [26]:
print(df['Eye color'].median())

2.0

**a.iii. Mode :**

In [111]:
print(df["Eye color"].mode())

0    2
dtype: int64

i.e. Mode is 'Blue'

**b.i. Standard Deviation :**

In [28]:
print(df['Eye color'].std())

3.1937941080673116

**b.ii. Variance :**

In [29]:
print(df['Eye color'].var())

10.200320804725475

**b.iii. IQR :**

In [30]:
q75, q25 = np.percentile(df['Eye color'], [75 ,25])
iqr = q75 - q25
print(iqr)

3.0

**b.iv. Skew :**

In [31]:
print(df['Eye color'].skew())

2.492321498022643

### Column name: **Race**

This is same as the Eye color column. Race, being categorical data, can be encoded into numerical values. Below are the unique values in the Race column. These can be encoded as 1,2,3...

In [32]:
(df['Race'].unique())

array(['Human', 'Icthyo Sapien', 'Ungaran', 'Human / Radiation',
       'Cosmic Entity', '-', 'Cyborg', 'Xenomorph XX121', 'Android',
       'Vampire', 'Mutant', 'God / Eternal', 'Symbiote', 'Atlantean',
       'Alien', 'Neyaphem', 'New God', 'Alpha', 'Bizarro', 'Inhuman',
       'Metahuman', 'Demon', 'Human / Clone', 'Human-Kree',
       'Dathomirian Zabrak', 'Amazon', 'Human / Cosmic',
       'Human / Altered', 'Kryptonian', 'Kakarantharaian',
       'Zen-Whoberian', 'Strontian', 'Kaiju', 'Saiyan', 'Gorilla',
       'Rodian', 'Flora Colossus', 'Human-Vuldarian', 'Asgardian',
       'Demi-God', 'Eternal', 'Gungan', 'Bolovaxian', 'Animal',
       'Czarnian', 'Martian', 'Spartoi', 'Planet', 'Luphomoid',
       'Parademon', 'Yautja', 'Maiar', 'Clone', 'Talokite', 'Korugaran',
       'Zombie', 'Human-Vulcan', 'Human-Spartoi', 'Tamaranean',
       'Frost Giant', 'Mutant / Clone', "Yoda's species"], dtype=object)

In [33]:
for i in range(63):
    print(i, end=",")
print()

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,

In [34]:
df['Race'] = df['Race'].replace(['Human', 'Icthyo Sapien', 'Ungaran', 'Human / Radiation',
       'Cosmic Entity', '-', 'Cyborg', 'Xenomorph XX121', 'Android',
       'Vampire', 'Mutant', 'God / Eternal', 'Symbiote', 'Atlantean',
       'Alien', 'Neyaphem', 'New God', 'Alpha', 'Bizarro', 'Inhuman',
       'Metahuman', 'Demon', 'Human / Clone', 'Human-Kree',
       'Dathomirian Zabrak', 'Amazon', 'Human / Cosmic',
       'Human / Altered', 'Kryptonian', 'Kakarantharaian',
       'Zen-Whoberian', 'Strontian', 'Kaiju', 'Saiyan', 'Gorilla',
       'Rodian', 'Flora Colossus', 'Human-Vuldarian', 'Asgardian',
       'Demi-God', 'Eternal', 'Gungan', 'Bolovaxian', 'Animal',
       'Czarnian', 'Martian', 'Spartoi', 'Planet', 'Luphomoid',
       'Parademon', 'Yautja', 'Maiar', 'Clone', 'Talokite', 'Korugaran',
       'Zombie', 'Human-Vulcan', 'Human-Spartoi', 'Tamaranean',
       'Frost Giant', 'Mutant / Clone', "Yoda's species"],[1,2,3,4,5,0,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61])

In [35]:
df['Race'] = df['Race'].astype('int')

**a.i. Mean :**

In [36]:
print(df['Race'].mean())

5.8732970027247955

**a.ii. Median :**

In [37]:
print(df['Race'].median())

1.0

**a.iii. Mode :**

In [38]:
print(df["Race"].mode())

0    0
dtype: int64

i.e. Mode is '-'

**b.i. Standard Deviation :**

In [39]:
print(df['Race'].std())

11.488485048328451

**b.ii. Variance :**

In [40]:
print(df['Race'].var())

131.98528870566636

**b.iii. IQR :**

In [41]:
q75, q25 = np.percentile(df['Race'], [75 ,25])
iqr = q75 - q25
print(iqr)

8.75

**b.iv. Skew :**

In [42]:
print(df['Race'].skew())

2.6983562409134008

### Column name: **Hair color**

This is same as the previous 2 columns. Hair color, being categorical data, can be encoded into numerical values. Below are the unique values in the Hair color column. These can be encoded as 1,2,3...

In [43]:
(df['Hair color'].unique())

array(['No Hair', 'Black', 'Blond', 'Brown', '-', 'White', 'Purple',
       'Orange', 'Pink', 'Red', 'Auburn', 'Strawberry Blond', 'black',
       'Blue', 'Green', 'Magenta', 'Brown / Black', 'Brown / White',
       'blond', 'Silver', 'Red / Grey', 'Grey', 'Orange / White',
       'Yellow', 'Brownn', 'Gold', 'Red / Orange', 'Indigo',
       'Red / White', 'Black / Blue'], dtype=object)

In [44]:
for i in range(30):
    print(i, end=",")
print()

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,

In [45]:
df['Hair color'] = df['Hair color'].replace(['No Hair', 'Black', 'Blond', 'Brown', '-', 'White', 'Purple',
       'Orange', 'Pink', 'Red', 'Auburn', 'Strawberry Blond', 'black',
       'Blue', 'Green', 'Magenta', 'Brown / Black', 'Brown / White',
       'blond', 'Silver', 'Red / Grey', 'Grey', 'Orange / White',
       'Yellow', 'Brownn', 'Gold', 'Red / Orange', 'Indigo',
       'Red / White', 'Black / Blue'],[1,2,3,4,0,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29])

In [46]:
df['Hair color'] = df['Hair color'].astype('int')

**a.i. Mean :**

In [47]:
print(df['Hair color'].mean())

3.587193460490463

**a.ii. Median :**

In [48]:
print(df['Hair color'].median())

2.0

**a.iii. Mode :**

In [49]:
print(df["Hair color"].mode())

0    0
dtype: int64

i.e. Mode is '-'

**b.i. Standard Deviation :**

In [50]:
print(df['Hair color'].std())

4.622431755281572

**b.ii. Variance :**

In [51]:
print(df['Hair color'].var())

21.366875332235477

**b.iii. IQR :**

In [52]:
q75, q25 = np.percentile(df['Hair color'], [75 ,25])
iqr = q75 - q25
print(iqr)

3.0

**b.iv. Skew :**

In [53]:
print(df['Hair color'].skew())

2.4911001104075314

### Column name: **Height**

This is a continuous data. Hence, calculating central tendencies and dispersion shouldn't be a problem. Several rows have a value '-99' which is going to affect the below values. We will be handling these values during the data cleaning process.

**a.i. Mean :**

In [54]:
print(df['Height'].mean())

102.25408719346049

**a.ii. Median :**

In [55]:
print(df['Height'].median())

175.0

**a.iii. Mode :**

In [109]:
print(df["Height"].mode())

0   -99.0
dtype: float64

**b.i. Standard Deviation :**

In [57]:
print(df['Height'].std())

139.62454255007276

**b.ii. Variance :**

In [58]:
print(df['Height'].var())

19495.01288231708

**b.iii. IQR :**

In [59]:
q75, q25 = np.percentile(df['Height'], [75 ,25])
iqr = q75 - q25
print(iqr)

284.0

**b.iv. Skew :**

In [60]:
print(df['Height'].skew())

-0.02365759744219501

### Column name: **Publisher**

Publisher, being categorical data, can be encoded into numerical values. Below are the unique values in the Publisher column. These can be encoded as 1,2,3...

In [61]:
(df['Publisher'].unique())

array(['Marvel Comics', 'Dark Horse Comics', 'DC Comics', 'NBC - Heroes',
       'Wildstorm', 'Image Comics', nan, 'Icon Comics', 'SyFy',
       'Hanna-Barbera', 'George Lucas', 'Team Epic TV', 'South Park',
       'HarperCollins', 'ABC Studios', 'Universal Studios', 'Star Trek',
       'IDW Publishing', 'Shueisha', 'Sony Pictures', 'J. K. Rowling',
       'Titan Books', 'Rebellion', 'Microsoft', 'J. R. R. Tolkien'],
      dtype=object)

In [62]:
for i in range(25):
    print(i, end=",")
print()

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,

In [63]:
df['Publisher'] = df['Publisher'].replace(['Marvel Comics', 'Dark Horse Comics', 'DC Comics', 'NBC - Heroes',
       'Wildstorm', 'Image Comics', 'nan', 'Icon Comics', 'SyFy',
       'Hanna-Barbera', 'George Lucas', 'Team Epic TV', 'South Park',
       'HarperCollins', 'ABC Studios', 'Universal Studios', 'Star Trek',
       'IDW Publishing', 'Shueisha', 'Sony Pictures', 'J. K. Rowling',
       'Titan Books', 'Rebellion', 'Microsoft', 'J. R. R. Tolkien'],[1,2,3,4,5,6,0,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24])

In [64]:
df['Publisher'] = df['Publisher'].replace(np.nan, 0)

In [65]:
df['Publisher'] = df['Publisher'].astype('int')

**a.i. Mean :**

In [66]:
print(df['Publisher'].mean())

2.8079019073569484

**a.ii. Median :**

In [67]:
print(df['Publisher'].median())

1.0

**a.iii. Mode :**

In [68]:
print(df["Publisher"].mode())

0    1
dtype: int64

i.e. Mode is 'Marvel Comics'

**b.i. Standard Deviation :**

In [69]:
print(df['Publisher'].std())

3.5810464697443325

**b.ii. Variance :**

In [70]:
print(df['Publisher'].var())

12.823893818468346

**b.iii. IQR :**

In [71]:
q75, q25 = np.percentile(df['Publisher'], [75 ,25])
iqr = q75 - q25
print(iqr)

2.0

**b.iv. Skew :**

In [72]:
print(df['Publisher'].skew())

3.135892758441947

### Column name: **Skin color**

Skin color, being categorical data, can be encoded into numerical values. Below are the unique values in the Skin color column. These can be encoded as 1,2,3...

In [73]:
(df['Skin color'].unique())

array(['-', 'blue', 'red', 'black', 'grey', 'gold', 'green', 'white',
       'pink', 'silver', 'red / black', 'yellow', 'purple',
       'orange / white', 'gray', 'blue-white', 'orange'], dtype=object)

In [74]:
for i in range(17):
    print(i, end=",")
print()

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,

In [75]:
df['Skin color'] = df['Skin color'].replace(['-', 'blue', 'red', 'black', 'grey', 'gold', 'green', 'white',
       'pink', 'silver', 'red / black', 'yellow', 'purple',
       'orange / white', 'gray', 'blue-white', 'orange'],[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])

In [76]:
df['Skin color'] = df['Skin color'].astype('int')

**a.i. Mean :**

In [77]:
print(df['Skin color'].mean())

0.5817438692098093

**a.ii. Median :**

In [78]:
print(df['Skin color'].median())

0.0

**a.iii. Mode :**

In [79]:
print(df["Skin color"].mode())

0    0
dtype: int64

i.e. Mode is '-'

**b.i. Standard Deviation :**

In [80]:
print(df['Skin color'].std())

2.0935147596577903

**b.ii. Variance :**

In [81]:
print(df['Skin color'].var())

4.382804048905016

**b.iii. IQR :**

In [82]:
q75, q25 = np.percentile(df['Skin color'], [75 ,25])
iqr = q75 - q25
print(iqr)

0.0

**b.iv. Skew :**

In [83]:
print(df['Skin color'].skew())

4.16200426766068

### Column name: **Alignment**

In [84]:
df['Alignment'].unique()

array(['good', 'bad', '-', 'neutral'], dtype=object)

In [85]:
df['Alignment'] = df['Alignment'].replace('good', 1)

In [86]:
df['Alignment'] = df['Alignment'].replace('bad', 2)
df['Alignment'] = df['Alignment'].replace('neutral', 3)

In [87]:
df['Alignment'] = df['Alignment'].replace('-',0)

In [88]:
df['Alignment'] = df['Alignment'].astype('int')

**a.i. Mean :**

In [89]:
print(df['Alignment'].mean())

1.337874659400545

**a.ii. Median :**

In [90]:
print(df['Alignment'].median())

1.0

**a.iii. Mode :**

In [91]:
print(df["Alignment"].mode())

0    1
dtype: int64

i.e. Mode is 'good'

**b.i. Standard Deviation :**

In [92]:
print(df['Alignment'].std())

0.555521809524758

**b.ii. Variance :**

In [93]:
print(df['Alignment'].var())

0.3086044808576616

**b.iii. IQR :**

In [94]:
q75, q25 = np.percentile(df['Alignment'], [75 ,25])
iqr = q75 - q25
print(iqr)

1.0

**b.iv. Skew :**

In [95]:
print(df['Alignment'].skew())

1.0724462861527282

### Column name: **Weight**

This is a continuous data. Hence, calculating central tendencies and dispersion shouldn't be a problem. Several rows have a value '-99' which is going to affect the below values. We will be handling these values during the data cleaning process.

**a.i. Mean :**

In [96]:
print(df['Weight'].mean())

43.8551912568306

**a.ii. Median :**

In [97]:
print(df['Weight'].median())

62.0

**a.iii. Mode :**

In [98]:
print(df["Weight"].mode())

0   -99.0
dtype: float64

**b.i. Standard Deviation :**

In [99]:
print(df['Weight'].std())

130.82373271995178

**b.ii. Variance :**

In [100]:
print(df['Weight'].var())

17114.849042781385

**b.iii. IQR :**

In [101]:
q75, q25 = np.percentile(df['Weight'], [75 ,25])
iqr = q75 - q25
print(iqr)

nan

**b.iv. Skew :**

In [102]:
print(df['Weight'].skew())

1.674863003138279

## **4. Cleaning dataset**

A part of data cleaning has been done earlier in the previous section to calculate central tendencies and dispersion.
    ---> Categorical data were numerically encoded while '-' values were encoded as 0.
    
There are so many rows which have blank/invalid values in certain columns. However, removing these rows will result in loosing a major chunk of our data.
Therefore, the method followed here is to find useless/junk rows with many blank or invalid values.
* The code snippet below looks for rows which have more than two columns with blank or invalid values. These rows  are then removed from the data.

In [103]:
df_cpy = df

In [104]:
df_cpy = df_cpy.fillna(0)
for ind, row in df_cpy.iterrows():
    count = 0
    for column in df_cpy:
        if column != 'ID':
            if row[column] == 0:
                count = count + 1
            elif row[column] == -99:
                count = count + 1
    if count >= 2:
        df_cpy.drop(ind,axis=0,inplace=True)
#         print('deleting ',ind)

1. Meanwhile, in the other rows, these blank/invalid values are handled as follows:
    * Categorical data i.e. Gender, Eye color, Race, Hair color, Publisher, Skin color, Alignment : Blank/invalid values are replaced with the mode of the column, since logically, the row has more probability of having the value of mode than any other value in the column. In case the mode itself is 0, we replace it with the next most frequent value.
    * Continuous data i.e. Height and Weight : Blank/invalid values are replaced with the mean of the column, since this will make our assumption impact the distribution of data neither positively nor negatively.
    
    
2. Handling outliers: Outliers usually end up skewing the data, thus affecting the central tendencies and dispersion values. They also affect classification, prediction or any kind of inference. For example, there are few records which have a height around 800-1000 which are far from the other records. The idea is to replace these outliers with the upper and low quartiles respectively. Only continous data like height and weight are prone to outliers. Therefore, we will implement outlier removal only for those columns.

**Gender:**

In [113]:
# Confirming that the mode is not 0
for (columnName, columnData) in df_cpy.iteritems():
    if columnName != 'ID' and columnName != 'name':
        init_mode = df_cpy[columnName].value_counts().idxmax()
        if init_mode == 0:  ## Checking whether the mode itself is 0
            df_temp = df_cpy[df_cpy[columnName] != 0]  ## If mode is 0, remove the zeroes
            df_cpy[columnName] = df_cpy[columnName].replace([0], df_temp[columnName].value_counts().idxmax()) ## Replace zeroes in the original df with the new mode
        else:
            df_cpy[columnName] = df_cpy[columnName].replace([0], df_cpy[columnName].value_counts().idxmax())

In [ ]:
df_cpy['Gender'] = df_cpy['Gender'].replace([0], df_cpy['Gender'].mode())

**Eye color:**

In [ ]:
df_cpy['Eye color'].value_counts()

In [ ]:
df_cpy['Eye color'] = df_cpy['Eye color'].replace([0], df_cpy['Eye color'].mode())

**Hair color:**

In [ ]:
df_cpy['Hair color'].value_counts()

In [ ]:
df_cpy['Hair color'] = df_cpy['Hair color'].replace([0], df_cpy['Hair color'].mode())

**Race:**

In [ ]:
df_cpy['Race'].value_counts()

In [ ]:
df_cpy['Race'] = df_cpy['Race'].replace([0], df_cpy['Race'].mode())

**Publisher:**

In [ ]:
df_cpy['Publisher'].value_counts()

In [ ]:
df_cpy['Publisher'] = df_cpy['Publisher'].replace([0], df_cpy['Publisher'].mode())

**Skin color:**

In [ ]:
df_cpy['Skin color'].value_counts()

In [ ]:
df_cpy.shape

Here, the mode itself is 0 i.e. blank or invalid values. As we can see, 0 occurs in more than 70% of the rows. Hence, it makes sense to remove this column instead of assuming a value which might skew the dataset or misrepresent the data.

In [ ]:
df_cpy = df_cpy.drop('Skin color', axis=1)

**Alignment:**

In [ ]:
df_cpy['Alignment'].value_counts()

In [ ]:
df_cpy['Alignment'] = df_cpy['Alignment'].replace([0], df_cpy['Alignment'].mode())

**Height:**

In [ ]:
df_cpy['Height'] = df_cpy['Height'].replace([0], df_cpy['Height'].mean())

In [ ]:
# Outlier handling
Q1 = df_cpy['Height'].quantile(0.25)
Q3 = df_cpy['Height'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

for index, row in df_cpy.iterrows():
    if row['Height'] < lower_bound: 
        df_cpy['Height'] = df_cpy['Height'].replace(row['Height'], df_cpy['Height'].median())
    elif row['Height'] > upper_bound: 
        df_cpy['Height'] = df_cpy['Height'].replace(row['Height'], df_cpy['Height'].median())

**Weight:**

In [ ]:
df_cpy['Weight'] = df_cpy['Weight'].replace([0], df_cpy['Weight'].mean())

In [ ]:
# Outlier handling
Q1 = df_cpy['Weight'].quantile(0.25)
Q3 = df_cpy['Weight'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

for index, row in df_cpy.iterrows():
    if row['Weight'] < lower_bound: 
        df_cpy['Weight'] = df_cpy['Weight'].replace(row['Weight'], df_cpy['Weight'].median())
    elif row['Weight'] > upper_bound: 
        df_cpy['Weight'] = df_cpy['Weight'].replace(row['Weight'], df_cpy['Weight'].median())

## 5. Scatter plot

In [ ]:
import matplotlib.pyplot as plt

**For each column, the first plot represents the scatter plot as asked in the question and the second plot is an alternative.**

### Gender

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(10,5))
ax1.title.set_text('Gender vs ID') 
ax1.scatter(df_cpy['ID'], df_cpy['Gender'], c ="blue")
plt.ylabel('ID')

ax2.title.set_text('Gender vs Frequency') 
ax2.bar(df_cpy['Gender'].value_counts().index, 
       df_cpy['Gender'].value_counts().values,
       color = ['darkblue', 'darkorange'])
ax2.set_xticks(range(0, 3))
ax2.set_xticklabels(['0','1 - Male','2 - Female'], fontsize = 14);
plt.show()

**Learning from the first plot :** Shows that 2 i.e. Females are less in number than 1 i.e. males. Both males and females are evenly distributed in the data.
**Alternative plot :** The first plot does not give us any quantitave understanding of gender with respect to ID since ID is just an index. The alternative plot helps us compare the frequency of both the genders.
**Learning from the alternative plot :** Apparently there are more males in the data than females.

### Eye color

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(10,5))
ax1.title.set_text('Eye color vs ID') 
ax1.scatter(df_cpy['ID'], df_cpy['Eye color'], c ="blue")
plt.ylabel('ID')

ax2.title.set_text('Eye color vs Frequency') 
ax2.bar(df_cpy['Eye color'].value_counts().index, 
       df_cpy['Eye color'].value_counts().values,
       color = ['darkblue', 'darkorange'])
# ax2.set_xticks(range(0, 3))
# ax2.set_xticklabels(['0','1 - Male','2 - Female'], fontsize = 14);
plt.show()

**Learning from the first plot :** Shows that the eye colors are not evenly distributed. The later part of the data seems to be more diverse than the initial part. The difference between the frequency of mode and the least occuring value is way too high.
**Alternative plot :** The first plot does not give us any quantitave understanding of eye color with respect to ID since ID is just an index. The alternative plot helps us compare the frequency of the eye colors.
**Learning from the alternative plot :** 2 i.e. Blue seems to be the most common eye color.

### Race

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(10,5))
ax1.title.set_text('Race vs ID') 
ax1.scatter(df_cpy['ID'], df_cpy['Race'], c ="blue")
plt.ylabel('ID')

ax2.title.set_text('Race vs Frequency') 
ax2.bar(df_cpy['Race'].value_counts().index, 
       df_cpy['Race'].value_counts().values,
       color = ['darkblue', 'darkorange'])
# ax2.set_xticks(range(0, 3))
# ax2.set_xticklabels(['0','1 - Male','2 - Female'], fontsize = 14);
plt.show()

**Learning from the first plot :** Shows that Race is not evenly distributed. The later part of the data seems to be more diverse than the initial part. The difference between the frequency of mode and the least occuring value is way too high. The two dominant races are Human and Mutant.
**Alternative plot :** The first plot does not give us any quantitave understanding of race with respect to ID since ID is just an index. The alternative plot helps us compare the frequency of the race.
**Learning from the alternative plot :** 1 i.e. Human seems to be the most common race.

**However in this case, the scatter plot makes more sense since even the least occuring race is able to be visualized.**

### Hair color

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(10,5))
ax1.title.set_text('Hair color vs ID') 
ax1.scatter(df_cpy['ID'], df_cpy['Hair color'], c ="blue")
plt.ylabel('ID')

ax2.title.set_text('Hair color vs Frequency') 
ax2.bar(df_cpy['Hair color'].value_counts().index, 
       df_cpy['Hair color'].value_counts().values,
       color = ['darkblue', 'darkorange'])
# ax2.set_xticks(range(0, 3))
# ax2.set_xticklabels(['0','1 - Male','2 - Female'], fontsize = 14);
plt.show()

**Learning from the first plot :** Shows that Hair color is evenly distributed barring few hair colors like Indigo, Red/White and Black/Blue. The least occuring hair colors can be seen more easily. The most occuring colors are more evenly distributed than the less occuring ones.
**Alternative plot :** The alternative plot helps us compare the frequency of the hair colors.
**Learning from the alternative plot :** 2 i.e. Black seems to be the most common race.

**In this case too, the scatter plot makes more sense since even the least occuring race is able to be visualized.**

### Publisher

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(10,5))
ax1.title.set_text('Publisher vs ID') 
ax1.scatter(df_cpy['ID'], df_cpy['Publisher'], c ="blue")
plt.ylabel('ID')

ax2.title.set_text('Publisher vs Frequency') 
ax2.bar(df_cpy['Publisher'].value_counts().index, 
       df_cpy['Publisher'].value_counts().values,
       color = ['darkblue', 'darkorange'])
# ax2.set_xticks(range(0, 3))
# ax2.set_xticklabels(['0','1 - Male','2 - Female'], fontsize = 14);
plt.show()

**Learning from the first plot :** Shows how the distribution of Publishers have been affected due to data cleaning. Records having values SouthPark, HaperCollins have been completely removed as part of data cleaning as thy might have had more than 2 invalid values.
**Alternative plot :** The alternative plot helps us compare the frequency of the hair colors.
**Learning from the alternative plot :** How only 3-4 values form the major part of the data

**In this case too, both the plots are equally good in representing the nature of the data**

### Alignment

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(10,5))
ax1.title.set_text('Alignment vs ID') 
ax1.scatter(df_cpy['ID'], df_cpy['Alignment'], c ="blue")
plt.ylabel('ID')

ax2.title.set_text('Alignment vs Frequency') 
ax2.bar(df_cpy['Alignment'].value_counts().index, 
       df_cpy['Alignment'].value_counts().values,
       color = ['darkblue', 'darkorange'])
# ax2.set_xticks(range(0, 3))
# ax2.set_xticklabels(['0','1 - Male','2 - Female'], fontsize = 14);
plt.show()

**Learning from the first plot :** 3 i.e. neutral seems to be very low compared to good and bad.
**Alternative plot :** The alternative plot helps us compare the frequency of the hair colors.
**Learning from the alternative plot :** How only 3-4 values form the major part of the data

**In this case, the scatter plot doesn't help much in understanding the difference between the distribution of 'good' and 'bad' i.e. 1 and 2. However, the alternative plot acheives this.**

### Height

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(10,5))
ax1.title.set_text('Height vs ID') 
ax1.scatter(df_cpy['ID'], df_cpy['Height'], c ="blue")
plt.ylabel('Height')
plt.xlabel('ID')

# ax2.title.set_text('Height vs Frequency') 
# ax2.bar(df_cpy['Height'].value_counts().index, 
#        df_cpy['Height'].value_counts().values,
#        color = ['darkblue', 'darkorange'])

plt.plot(df_cpy['ID'], df_cpy['Height'])
plt.title('Height Vs ID')
plt.xlabel('ID')
plt.ylabel('Height')
plt.show()

# ax2.set_xticks(range(0, 3))
# ax2.set_xticklabels(['0','1 - Male','2 - Female'], fontsize = 14);
plt.show()

**Learning from the first plot :** Shows that the heights are mostly concentrated around 180-190. Records in the bottom of the data tend to be more taller than the ones on the top. We can also see the values being capped at the upper and lower bounds which we did during outlier removal.
**Alternative plot :** The alternative plot helps us infer the trend in the height as we go down the records.While scatter plots doesn't perform well in showing the trends in the densely populated areas like height:200, the alternative plot achieves this.
**Learning from the alternative plot :** The values are more skewed as we go further down our data.

### Weight

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(10,5))
ax1.title.set_text('Weight vs ID') 
ax1.scatter(df_cpy['ID'], df_cpy['Weight'], c ="blue")
plt.ylabel('Weight')
plt.xlabel('ID')


plt.plot(df_cpy['ID'], df_cpy['Weight'])
plt.title('Weight Vs ID')
plt.xlabel('ID')
plt.ylabel('Weight')
plt.show()

# ax2.set_xticks(range(0, 3))
# ax2.set_xticklabels(['0','1 - Male','2 - Female'], fontsize = 14);
plt.show()

**Learning from the first plot :** Shows that the weights are mostly concentrated around 50-75. There's a nearly even distribution of weights among all the records. We can also see the values being capped at the upper and lower bounds which we did during outlier removal.
**Alternative plot :** The alternative plot helps us infer the trend in the weight as we go down the records. Helps us infer the trends even in the highly dense areas like weight:50-75.
**Learning from the alternative plot :** There are more overweight superheroes as we go down the data.

## 6. Box-plots

In [ ]:
# c = 1
# for (columnName, columnData) in df_cpy.iteritems():
#     plt.subplot(4, 2, c)
# #     plt.title('Weight Vs ID')
# #     plt.xlabel('ID')
# #     plt.ylabel('Weight')
#     boxplot = df_cpy.boxplot(column=columnName)
#     c = c + 1
for (columnName, columnData) in df_cpy.iteritems():
    if columnName != 'name':
        plt.figure()
        boxplot = df_cpy.boxplot(column=columnName)

**Boxplot for 'name' cannot be plotted since it is not numerical.
Although the question asks for boxplot for each column, box plots for categorical data are not usually helpful 
in any means since they are not quantitative data. In our case the boxplots only for height and weight are useful.**

## EXPLORATORY DATA ANALYSIS

## 1. Describing the data

In [ ]:
df_cpy.describe()

## 2. Visualizing Distribution with Histograms

In [ ]:
his = df_cpy.hist(figsize=(30,30))

## 3. Scatter matrix for four columns : Height, Weight, Race, Alignment

In [ ]:
import seaborn as sns
sns.pairplot(df_cpy[["Height", "Weight", "Race", "Alignment"]])

## 4. Scatter plot for variables with no relationship

**Columns chosen: Publisher and Height**

In [ ]:
 ax1 = df_cpy.plot.scatter(x='Publisher',y='Height',c='DarkBlue')

Covariance:

In [ ]:
cov_unr = df_cpy[["Publisher","Height"]].cov()
print(cov_unr)

Correlation:

In [ ]:
corr = df['Publisher'].corr(df['Height'])
print(corr)

## 4. Scatter plot for variables which seem to have a relationship

**Columns chosen: Height and Weight**

In [ ]:
 ax1 = df_cpy.plot.scatter(x='Height',y='Weight',c='DarkBlue')

Covariance:

In [ ]:
cov_r = df_cpy[["Weight","Height"]].cov()
print(cov_r)

Correlation:

In [ ]:
corr_r = df['Weight'].corr(df['Height'])
print(corr_r)